:root {
    --color-font-main: #012F4B;
    --color-font-sub: #474747;
    --color-font-accent: rgb(201, 57, 64);
    --md-default-fg-color--light: #6e78b2;
    --md-primary-fg-color: #354881;
    --md-code-hl-comment-color: #8b8b93;
    --md-code-font: "Consolas";
    --md-code-bg-color: #e8e9ee;
}

ul.metadata,
.breadcrumb,
md-nav__title {
    display: none;
}

.md-nav__title,
.md-nav--secondary {
    box-shadow: unset !important;
    background: unset !important;
}

*::selection {
    background-color: rgba(255, 255, 0, 0.5);
}

.md-nav--primary .md-nav__title[for=__drawer] {
    color: var(--md-primary-fg-color);
}

.md-typeset blockquote,
.md-typeset code {
    color: var(--color-font-sub);
    background: #f8f8f8;
    border-radius: 3px;
    border: 1px solid #ceced5;
    margin: 0 2px;
}

.md-typeset pre>code {
    border: unset;
}

.md-typeset h1:nth-child(1) {
    margin-top: 0;
}

.md-typeset h1,
.md-typeset h2 {
    color: var(--color-font-main);
    margin: 2rem 0 .5rem;
}

.md-typeset h1 {
    font-size: 200%;
    font-weight: 900;
}

.md-typeset h2 {
    font-size: 150%;
    font-weight: 700;
}

.md-typeset p,
.md-typeset ul li,
.md-typeset ol li,
.md-typeset__table table tr td {
    color: var(--color-font-sub);
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0;
}

.md-typeset table:not([class]) td,
.md-typeset table:not([class]) th {
    padding: 5px 10px;
}

.md-typeset table:not([class]) {
    font-size: unset;
}

.md-typeset table thead {
    color: var(--color-font-sub);
    background: var(--md-code-bg-color);
}

.md-typeset .admonition {
    font-size: unset;
}

.highlight span.filename {
    color: var(--color-font-sub);
    padding: .5em 1em;
    border-bottom: unset;
}

.md-typeset dd {
    margin: 0;
}

.md-typeset dt {
    margin-top: .5rem;
}

.md-typeset dl>dt:nth-child(1) {
    margin-top: 0;
}

.md-typeset .admonition,
.md-typeset details {
    font-size: inherit;
}

.md-typeset blockquote>p {
    margin: .5rem 0;
}

.md-typeset .admonition-title:before,
.md-typeset summary:before {
    top: unset;
}

.md-tooltip__inner {
    font-size: inherit;
    background-color: #f6f7f9;
    border: 1px solid silver;
}

.md-nav__list {
    color: var(--color-font-main);
}
