:root {
    --color-font-main: #012F4B;
    --color-font-sub: #474747;
    --color-font-accent: rgb(201, 57, 64);
    --color-background: #EBEEF9;
    --md-default-fg-color--light: #6e78b2;
}

ul.metadata,
.breadcrumb,
md-nav__title {
    display: none;
}

.md-header {
    background: #2d3c90;
}

.md-nav__title,
.md-nav--secondary {
    box-shadow: unset !important;
    background: unset !important;
}


*::selection {
    background-color: rgba(255, 255, 0, 0.5);
}

.md-typeset blockquote,
.md-typeset code {
    color: var(--color-font-sub);
    background: #f8f8f8;
    border-radius: 3px;
    border: 1px solid #ceced5;
    margin: 0 2px;
}

.md-typeset pre>code {
    border: unset;
}

.md-typeset h1:nth-child(1) {
    margin-top: 0;
}

.md-typeset h1,
.md-typeset h2 {
    color: var(--color-font-main);
    margin: 2rem 0 .5rem;
}

.md-typeset h1 {
    font-size: 200%;
    font-weight: 900;
}

.md-typeset h2 {
    font-size: 150%;
    font-weight: 700;
}

ul {
    list-style-type: "- ";
}

ol {
    padding-inline-start: 45px;
}

u,
u::selection {
    text-decoration: underline 8pt;
    text-decoration-color: #ffc3d6;
    text-underline-offset: -3px;
}

.md-typeset p,
.md-typeset ul li,
.md-typeset__table table tr td {
    color: var(--color-font-sub);
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0;
}

p {
    margin-bottom: 0.5rem;
}

.md-typeset table:not([class]) td {
    padding: 5px 10px;
}

.md-typeset table:not([class]) {
    font-size: unset;
}

.md-typeset .admonition {
    font-size: unset;
}

.highlight span.filename {
    color: var(--color-font-sub);
    padding: .5em 1em;
}

mjx-container,
mjx-mtd {
    text-align: unset !important;
}

.highlight span.filename {
    background-color: #e8e9ee;
    border-bottom: unset;
}

p.r {
    text-align: right;
}

.md-typeset dd {
    margin: 0;
}

.md-typeset dt {
    margin-top: .75rem;
}

.md-typeset dl>dt:nth-child(1) {
    margin-top: 0;
}

.md-typeset .admonition,
.md-typeset details {
    font-size: inherit;
}

.md-typeset blockquote>p {
    margin: .5rem 0;
}
