:root {
    --color-font-main: #012F4B;
    --color-font-sub: #474747;
    --color-font-accent: rgb(201, 57, 64);
    --md-default-fg-color--light: #6e78b2;
    --md-primary-fg-color: #354881;
    --md-footer-bg-color: var(--md-primary-fg-color);
    --md-code-hl-comment-color: #8b8b93;
    --md-code-font: "Consolas";
    --md-code-bg-color: #f8f8f8;
    --md-code-title-bg-color: #e8e9ee; /* self defined */
    --md-typeset-a-color: var(--md-primary-fg-color);
}

ul.metadata,
.breadcrumb,
md-nav__title {
    display: none;
}

.md-nav__title,
.md-nav--secondary {
    box-shadow: unset !important;
    background: unset !important;
}

*::selection {
    background-color: rgba(255, 255, 0, 0.4);
}

.md-nav--primary .md-nav__title[for=__drawer] {
    color: var(--md-primary-fg-color);
}

.md-typeset blockquote,
.md-typeset code {
    border-radius: 3px;
    border: 1px solid #ceced5;
    margin: 0 2px;
}

.highlight span.filename,
.md-typeset pre code {
    font-size: unset;
}


.md-typeset pre code {
    border: unset;
}

.md-typeset h1:nth-child(1) {
    margin-top: 0;
}

.md-typeset h1,
.md-typeset h2 {
    color: var(--color-font-main);
    margin: 2rem 0 .5rem;
}

.md-typeset h1 {
    font-size: 200%;
    font-weight: 900;
}

.md-typeset h2 {
    font-size: 150%;
    font-weight: 700;
}


.md-typeset,
.md-typeset__table,
.md-tooltip__inner {
    color: var(--color-font-sub);
    font-weight: 500;
    margin-bottom: 0;
}

.md-typeset ul li,
.md-typeset ol li {
    line-height: 1;
}
.md-typeset table:not([class]) td,
.md-typeset table:not([class]) th {
    padding: 5px 10px;
}

.md-typeset table:not([class]) {
    font-size: unset;
}

.md-typeset table thead {
    color: var(--color-font-sub);
    background-color: var(--md-typeset-table-color);
    font-size: .85em;
}

.md-typeset .admonition {
    font-size: unset;
}

.highlight span.filename {
    background-color: var(--md-code-title-bg-color);
    color: var(--color-font-sub);
    --padding: .5em 1em;
    border-bottom: unset;
}

.md-typeset dd {
    margin: 0;
}

.md-typeset dt {
    margin-top: .5rem;
}

.md-typeset dl>dt:nth-child(1) {
    margin-top: 0;
}

.md-typeset .admonition,
.md-typeset details {
    font-size: inherit;
}

.md-typeset blockquote>p {
    margin: .5rem 0;
}

.md-typeset .admonition-title:before,
.md-typeset summary:before {
    top: unset;
}

.md-tooltip__inner {
    font-size: inherit;
    border: 1px solid silver;
}

.md-nav__list {
    color: var(--color-font-main);
}

.md-nav__link--active:after {
    content: "◀";
}

.md-typeset .md-tag {
    background-color: var(--md-primary-fg-color);
    color: white;
}

.highlight.language-clean .mi,
.highlight.language-clean .nc,
.highlight.language-clean .mo,
.highlight.language-clean .o,
.highlight.language-clean .p
{
    color: var(--md-code-hl-name-color);
}
